<h1>Events Home Page</h1>

<% @events.each do |event| %>
  <%=event.name%>
  <%= event.location %>
  <%= event.event_date %>
<% end %>

<%= link_to "Create New Event", new_event_path %> <br />
<%= link_to "Show Events" %>
