<div>
  <h1><%=@event.name%> Event Details</h1>
</div>

<table class="table table-striped">
   <thead>
    <tr>
      <th scope="col">Location</th>
      <th scope="col">Event Date</th>
      <th scope="col">Created By</th>
      
    </tr>
  </thead>
  <tbody>
  
    <tr>
      <td > <%= @event.location %> </td>
      <td > <%= @event.event_date %> </td>
      <td > <%= User.find(@event.creator_id).username%> </td>
  </tbody>
</table>


<table class="table table-striped">
   <thead>
    <tr>
      <th scope="col">Registered to attend:</th>
    </tr>
  </thead>
  <tbody>
  
    <tr>
    <%@event.attendees.each do |attendee|%>
      <td ><%= attendee.username%></td>
    <%end%>
  </tbody>
</table>